.header {
  padding: 64px 0 54px;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
}
.header__list li a {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #33323d;
}
.header__list li a:nth-of-type(3) {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #33323d;
  margin-left: 1px;
}
.header__list .active {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #5fb4a2;
}
.modal_bg {
  display: none;
  position: fixed;
  top: 124px;
  bottom: 0;
  left: 241px;
  right: 0;
  z-index: 10;
}
.modal {
  position: fixed;
  top: 124px;
  width: 223px;
  height: 186px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #33323d;
  z-index: 10;
}
.menu {
  display: none;
}
.none {
  display: none;
}

.close_menu {
  display: none;
}
.open_modal {
  display: flex;
}
@media (max-width: 800px) {
  .header {
    padding: 54px 12px 47px;
  }
}
@media (max-width: 550px) {
  .header {
    padding: 32px 35px 40 px 32px;
  }
  .header_nav {
    display: none;
  }
  .menu {
    display: flex;
  }
  .close_x {
    display: flex;
  }
  .modal_list {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
  .modal_list li a {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
  .modal_list .active {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: #5fb4a2;
  }
}
@media(max-width: 520px) {

  .modal_bg {
    position: fixed;
    top: 124px;
    bottom: 0;
    left: 200px;
    right: 0;
}
}
@media(max-width: 480px) {
  .modal_bg {
    position: fixed;
    top: 124px;
    bottom: 0;
    left: 150px;
    right: 0;
}
}
@media(max-width: 425px) {
  .modal_bg {
    position: fixed;
    top: 100px;
    bottom: 0;
    left: 111px;
    right: 0;
}
.modal {
  top: 100px;
}
}